@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.card-body{
    text-align: center;
    padding: 10px;
}
.card{
    box-shadow:3px 23px 45px 3px rgb(82 82 82 / 15%);
    border-radius: 12px
;
}
.h5, h5{
    font-size: 2.20rem;
}
.display-3{
    font-size: 80px;
    font-family: fantasy;
}
.lead {
    font-size: 35px;
}
.header{
    text-align: center;
    margin: 80px 0 10px 0;
    font-family: fantasy;
    font-size: 35px;
}
.text-center{
    text-align: center;
}
.aling{
    margin-bottom: 20px !important;
    width: 70%;
    margin: auto;
}

.btn-primary{
    margin-top: 10px;
    font-size: 15px;
    padding: 10px 25px;
}